<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <h4>Please choose a file to display its size</h4>
  <form action="/upload" method="post" enctype='multipart/form-data'>
    <input type="file" name="filename">
    <input type="submit" name="upload" value="upload">
  </form>
</body>
</html>
